$font-main: 'Inter', system-ui, sans-serif;
$text-main: #1e293b;
$text-muted: #64748b;
$glass-border: rgba(255, 255, 255, 0.2);


.text {
    font-family: $font-main;
    color: $text-main;
    font-weight: 600;
}

.editor {
    height: 15rem;
    box-shadow: 0 0 2px $text-muted;
}

.subjects {
    width: 100%;
    margin-bottom: 1rem;
    // color: $text-main;
    box-shadow:0 0 2px $text-muted;
    padding: 0;
    option {
        padding: 0.5rem 1rem;

    }
    .disabled {
        background: rgba(245, 238, 238, 0.822);
        color: rgb(36, 35, 35);
        color: $text-main;
        font-weight: 500;
    }
}